<div id="sidebar">
    <h1>Danny Morgant</h1>
    <p>Analyse de données, des risques, et résolution de problèmes</p>
    <ul class="sidebarlist">
        <li><a href="../index.html">A propos</a></li>
        <li><a href="../projects.html">Projets</a>
        <ul class="sublist">
            <li><a href="../projects/Feature_selection_project.html">Feature selection</a></li>
            <li><a href="../projects/Gapminder_project.html">Introduction à l'analyse exploratoire des données (EDA)</a></li>
            <li><a href="../projects/ACP_project.html">ACP</a></li>
        </ul></li>
        <li><a href="../competences.html">Compétences</a>
        <li><a href="../contact.html">Contact</a>
    </ul>
</div>

