body, html {
  font-family: Arial, sans-serif;
  margin: 0; /* Reset margin to 0 */
  padding: 0; /* Reset padding to 0 */
  background-color: #F0F0F0;
  height: 100%; /* Set height to 100% */
}

#container {
  display: flex;
  height: 100%;
  width: 20%;
}

#sidebar {
  background-color: #C9EFFF;
}

#content {
  width: 80%;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

iframe {
  box-shadow: 1px 1px 5px darkgray;
  border-style: none;
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.sublist {
  margin: 10px;
}
